In [2]:
from datascience import *
import numpy as np

%matplotlib inline
import matplotlib.pyplot as plots
plots.style.use('fivethirtyeight')

In [17]:
imdb = Table.read_table('imdb.csv')
imdb.show(5)

# Question 1
Find the ten movies released in the year 2000 or later with the highest number of votes according to imdb.csv. Format your answer as a table with columns Title and Votes (in that order) of the three requested movies.

In [21]:
movies2000 = imdb.where('Year',are.above_or_equal_to(2000))
movies2000sorted = movies2000.sort('Votes' , descending = True)
movies2000top10 = movies2000sorted.take(np.arrange(0,10))
moviesfinal = movies2000top10.select ("Title", "Votes")
moviesfinal.show()

AttributeError: module 'numpy' has no attribute 'arrange'

# Question 2

Create a table with columns Title and Votes containing all movies released in 1999.

Next, attach a new column to the table called Percent Votes that contains the percent of votes each movie received when considered among all votes cast for movies released in 1999.

For example, if the total number of votes cast for movies released in 1999 is 200 and "The Matrix" received 30 of them, then the column Percent Votes corresponding to "The Matrix" should 15.

In [34]:
movies1999 = imdb.where('Year', 1999)
movies1999 = movies1999.select('Title', 'Votes')
votes_column = movies1999.column('Votes')
total_votes = sum(votes_column)
percent_column = votes_column / total_votes * 100
movies1999 = movies1999.with_column('Percent Votes', percent_column)
movies1999.show()